@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    @apply box-border;
}

html {
    @apply whitespace-pre-line;
}

body {
    @apply font-sans text-black;
}

.container {
    @apply lg:max-w-[1170px] mx-auto max-w-full px-6 lg:px-0 h-full;
}

.input {
    @apply text-black-100 font-semibold outline-0;
}

.input:focus, .input:focus-within {
    @apply outline-0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.zendesk-content p, .zendesk-content li {
    @apply my-8 text-black/60 text-base;
}

.zendesk-content li {
    @apply list-disc ml-4;
}

.zendesk-content a {
    @apply text-blue-120;
}

.zendesk-content h2 {
    @apply text-black-120 font-semibold text-2xl my-6;
}
